<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	<div class="container">
		<a class="navbar-brand" href="{% url 'main' %}">Modist</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span> Menu
		</button>

		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><a href="{% url 'main' %}" class="nav-link">Home</a></li>
				<li class="nav-item"><a href="{% url 'my_admin:users' %}" class="{% if request.resolver_match.url_name == 'users' %}active{% endif %} nav-link">Users</a></li>
				
				<li class="nav-item"><a href="{% url 'my_admin:categories' %}" class="{% if request.resolver_match.url_name == 'categories' or category.name %}active{% endif %}  nav-link">Category{% if category %}:<span>{{ category.name }}</span>{% endif %}</a></li>

			</ul>
		</div>
	</div>
</nav>
<div class="hero-wrap hero-bread" style="background-image: url('/static/img/bg_6.jpg');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-0 bread">{{ title|capfirst }}</h1>
<!--				<p class="breadcrumbs"><span>Today: {{ visit_date|date:"l, j F, Y" }}</span></p>-->

			</div>
		</div>
	</div>
</div>
