{% extends 'adminapp/base.html' %}
{% load staticfiles %}


{% block content %}
<section class="ftco-section ftco-cart">
	<div class="container">
	<button class="btn btn-round form-control last">
    <a href="{% url 'my_admin:products' category.slug %}">
        к списку продуктов
    </a>
</button>
<form class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ update_form.as_p }}
    <input class="form-control" type="submit" value="сохранить">
</form>
<button class="btn btn-round form-control last">
    <a href="{% url 'my_admin:users' %}">
        к списку продуктов
    </a>
</button>
</div>
</section>
{% endblock %}