
					<div class="col-sm col-md-6 col-lg-3 ftco-animate">
						<div class="product">
							<a href="{{ hot_product.get_absolute_url }}" class="img-prod">
							{% if hot_product.photo %}
							<img class="img-fluid" src="/media/{{ hot_product.photo }}" alt="1">
							{% else %}
							<img class="img-fluid" src="https://c7.hotpng.com/preview/70/298/567/drawing-dress-art-sketch-fashion-design-thumbnail.jpg" alt="2">
							{% endif %}
							<span class="status">HOT</span>
							</a>
							<div class="text pt-3 px-3">
								<h3><a href="#">{{ hot_product.title }}</a></h3>
								<div class="d-flex">
									<div class="pricing">
										<p class="price"><span>{{ hot_product.price }}</span></p>
									</div>
									<div class="rating">
										<p class="text-right">
											<span class="ion-ios-star-outline"></span>
											<span class="ion-ios-star-outline"></span>
											<span class="ion-ios-star-outline"></span>
											<span class="ion-ios-star-outline"></span>
											<span class="ion-ios-star-outline"></span>
										</p>
									</div>
								</div>
								<hr>
						<p class="bottom-area d-flex">

							{% if user.is_authenticated %} 
							<a href="{% url 'basket:add' hot_product.slug %}" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
							<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
							{% else %} <a href="{% url 'auth:login' %}" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
							{% endif %} 
						</p>
							</div>
						</div>
					</div>
					


				
					{% for product in same_products %}
					<div class="col-sm col-md-6 col-lg-3 ftco-animate">
						<div class="product">
							<a href="{{ product.get_absolute_url }}" class="img-prod">
							{% if product.photo %}
							<img class="img-fluid" src="/media/{{ product.photo }}" alt="1">
							{% else %}
							<img class="img-fluid" src="https://c7.hotpng.com/preview/70/298/567/drawing-dress-art-sketch-fashion-design-thumbnail.jpg" alt="2">
							{% endif %}
							<span class="status">SAME</span>
							</a>
							<div class="text pt-3 px-3">
								<h3><a href="#">{{ product.title }}</a></h3>
								<div class="d-flex">
									<div class="pricing">
										<p class="price"><span>{{ product.price }}</span></p>
									</div>
									<div class="rating">
										<p class="text-right">
											<span class="ion-ios-star-outline"></span>
											<span class="ion-ios-star-outline"></span>
											<span class="ion-ios-star-outline"></span>
											<span class="ion-ios-star-outline"></span>
											<span class="ion-ios-star-outline"></span>
										</p>
									</div>
								</div>
								<hr>
						<p class="bottom-area d-flex">

							{% if user.is_authenticated %} 
							<a href="{% url 'basket:add' product.slug %}" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
							<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
							{% else %} <a href="{% url 'auth:login' %}" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
							{% endif %} 
						</p>
							</div>
						</div>
						</div>
					{% endfor %}


				